export PGCONNSTR="story-circle-ai:us-east1:yakul"
export PGUSER="story-circle-app-sa@vantai-analysis.iam"
export PGDATABASEINSTANCE="yakul"
export PGDATABASE="faboo"
# See: https://manage.auth0.com/dashboard/us/dev-jfzolumz/apis/6224cc4072eca1056ac11b13/quickstart
export DOMAIN="$(jq -r '.domain' < ./frontend/src/auth0config.json)"
export API_AUDIENCE="http://fastapi-faboo-backend"
export ISSUER="https://dev-jfzolumz.us.auth0.com/"
export ALGORITHMS="RS256"
